# ðŸ˜ŽðŸ˜ŽðŸ˜Ž How to Write CSV File in Pandas ðŸ˜ŽðŸ˜ŽðŸ˜Ž

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.columns

Index(['ID', 'Name', 'Industry', 'Inception', 'Revenue', 'Expenses', 'Profit',
       'Growth'],
      dtype='object')

# ðŸ¤žðŸ¤žðŸ¤žâœŒ  Pandas Read_CSv Function  (Nrows)   ðŸ¤žðŸ¤žðŸ¤žâœŒ

In [5]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', nrows =3)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%

# ðŸ¤žðŸ¤žðŸ¤žâœŒ  Pandas Read_CSv Function  (UseCols)   ðŸ¤žðŸ¤žðŸ¤žâœŒ

In [6]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', usecols =[0,1])
df

   ID             Name
0   1          Lamtone
1   2        Stripfind
2   3  Canecorporation
3   4         Mattouch
4   5        Techdrill
5   6         Techline
6   7          Cityace
7   8   Kayelectronics
8   9          Ganzlax
9  10      Trantraxlax

In [7]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', usecols =[2,4,7])
df

              Industry       Revenue Growth
0          IT Services  $11,757,018     30%
1   Financial Services  $12,329,371     20%
2               Health  $10,597,009      7%
3          IT Services  $14,026,934     26%
4               Health  $10,573,990      8%
5               Health  $13,898,119     23%
6               Health   $9,254,614      6%
7               Health   $9,451,943      4%
8          IT Services  $14,001,180     18%
9  Government Services  $11,088,336      7%

# skipRows Parameter

In [8]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', skiprows =[0,1])
df

,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
0,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
1,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
2,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
3,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
4,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
5,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
6,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
7,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# ðŸ¤žðŸ¤žðŸ¤žâœŒ  Pandas Read_CSv Function (Index_col)   ðŸ¤žðŸ¤žðŸ¤žâœŒ

In [9]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', index_col = 'ID')
df

,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
ID,,,,,,,
1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# ðŸ¤žðŸ¤žðŸ¤žâœŒ  Pandas Read_CSv Function (Header)   ðŸ¤žðŸ¤žðŸ¤žâœŒ

In [10]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', header = None)
df

,0,1,2,3,4,5,6,7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', header = 1)
df

,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
0,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
1,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
2,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
3,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
4,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
5,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
6,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
7,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
8,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# ðŸ¤žðŸ¤žðŸ¤žâœŒ  Pandas Read_CSv Function (Prefix)   ðŸ¤žðŸ¤žðŸ¤žâœŒ

In [12]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', header = None, prefix ='rka')
df

C:\Users\HP\AppData\Local\Temp\ipykernel_10372\364613109.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', header = None, prefix ='rka')

,rka0,rka1,rka2,rka3,rka4,rka5,rka6,rka7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# ðŸ¤žðŸ¤žðŸ¤žâœŒ  Pandas Read_CSv Function (Names)   ðŸ¤žðŸ¤žðŸ¤žâœŒ

In [14]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv', names = ['A','B','C','D','E','F','G','H'])
df

,A,B,C,D,E,F,G,H
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

# ðŸ¤žðŸ¤žðŸ¤ž          Pandas Read_CSv Function (Database Connectivity)     ðŸ¤žðŸ¤žðŸ¤žðŸ¤ž

In [19]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ---------------------------------------- 44.8/44.8 kB 5.8 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pymysql

In [21]:
import sqlalchemy

In [22]:
# ``dialect[+driver]://user:password@host/dbname[?key=value..]``
eng = sqlalchemy.create_engine("mysql+pymysql://root:root@localhost/database_name")
df = pd.read_sql("select * from emp",eng)
df

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'database_name'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# ðŸ¤žðŸ¤žðŸ¤ž          Pandas Read_CSv Function (Html read)     ðŸ¤žðŸ¤žðŸ¤žðŸ¤ž

In [ ]:
list_fds = pd.read_html("path")
df1 = list_fd1[0]
df2 = list_fds2[1]

In [ ]:
import pandas as pd
df = pd.DataFrame({'roll':[1,2,3],'age':[20,10,30]})
df

In [ ]:
pip install xlwt

In [ ]:
import pandas as pd
df.to_excle("H:/stu.xlsx",sheet_name='cs')

# write the database

In [ ]:
import pandas as pd
# write the database
df.to_excle("H:/stu.xlsx",sheet_name='cs',index=False)

In [ ]:
eng = sqlalchemy.create_engine("mysql+pymysql://root:root@localhost/database_name")
df = pd.read_sql("select * from emp",eng)
df

In [ ]:
d.to_excle("H:/stu.xlsx",sheet_name='cs',index=False)

In [ ]:
eng = sqlalchemy.create_engine("mysql+pymysql://root:root@localhost/database_name")
df.to_sql(name="movies",if_exits='fail',con=eng)

In [ ]:
eng = sqlalchemy.create_engine("mysql+pymysql://root:root@localhost/database_name")
df.to_sql(name="movies",if_exits='append',con=eng)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('E:\\MACHIN LEARING\\DataSets\\Fortune_10.csv')
df

In [ ]:
nm = df['Name']
nm

In [ ]:
type(nm)

In [ ]:
nm.dtype

In [ ]:
nm.values

In [ ]:
import numpy as np

In [ ]:
a = np.arange(10)
print(a)

In [ ]:
s = pd.Series(a)

In [ ]:
print(s)